.patient-history-page .content {
    padding: 30px 15% 15px;
}

.patient-history-page .content .header {
    display: flex;
    align-items: center;
    margin: 0;
}

.patient-history-page .content .header img {
    width: 90px;
    margin-right: 10px;
}

.patient-history-page .content .header h1 {
    margin: 0;
    font-size: 35px;
    font-weight: 500;
}

.patient-history-page h2 {
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 0;
}

.patient-history-page p {
    line-height: 1.0;
}

.patient-history-page strong {
    font-weight: 500;
}