.findADoctor-page .search {
    background-color: rgb(189, 41, 41);
    color: white;
    padding: 30px 15% 30px;
    box-shadow: 0px -1px 3px rgb(189, 41, 41);
}

.findADoctor-page .search h2 {
    font-weight: 500;
}

.findADoctor-page .text-inputs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.findADoctor-page label {
    font-weight: 300;
    font-size: 15px;
}

::placeholder {
    color: darkgray;
    font-size: 15px;
}

.findADoctor-page input[type=text] {
    width: 280px;
    margin: 4px 10px 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    display: block;
}

.findADoctor-page .covid-19-care {
    display: flex;
    align-items: center;
}

.findADoctor-page input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

.findADoctor-page .search input[type=submit] {
    background-color: white;
    color: brown;
    font-weight: bold;
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

.findADoctor-page .search input[type=submit]:hover {
    background-color: rgb(54, 128, 54);
    color: white;
    cursor: pointer;
}

.findADoctor-page .content {
    padding: 0px 15% 30px;
}

.findADoctor-page .doctor {
    border: 1px solid black;
    border-radius: 5px;
    width: 510px;
    height: 150px;
    margin-bottom: 15px;
    padding: 15px 30px 15px 15px;
    display: flex;
}

.findADoctor-page .doctor img {
    height: 100%;
    border-radius: 3px;
    margin-right: 15px;
}

.findADoctor-page .doctor .doctor-details {
    width: 140px;
    margin-right: 35px;
}

.findADoctor-page .doctor .doctor-details h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 19px;
}

.findADoctor-page .doctor .doctor-details .doctor-rating {
    height: 30px;
    display: flex;
    align-items: center;
}

.findADoctor-page .doctor .doctor-details .doctor-rating .rating {
    color: brown;
    width: 86px;
    margin-right: 7px;
    justify-content: space-between;
}

.findADoctor-page .doctor .doctor-details .doctor-rating p {
    font-size: 13px;
    font-weight: 500;
}

.findADoctor-page .doctor .doctor-details .doctor-address p {
    margin: 0;
}

.findADoctor-page .doctor .doctor-speciality p {
    margin: 0;
    font-size: 16px;
}

.findADoctor-page .doctor .doctor-speciality span {
    display: flex;
    align-items: center;
}

.findADoctor-page .doctor .doctor-speciality span .green {
    color: green;
}

.findADoctor-page .doctor .doctor-speciality span .red {
    color: red;
}

.findADoctor-page .doctor .doctor-speciality span p {
    margin-left: 5px;
}

.findADoctor-page .doctor ul {
    margin-top: 10px;
    padding-left: 18px;
}

.findADoctor-page .book-online-btn {
    background-color: brown;
    color: white;
    margin: 0;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-weight: normal;
}

.findADoctor-page .book-online-btn:hover {
    background-color: rgb(104, 0, 0);
    cursor: pointer;
}