.findAnInsurance-page .search {
    background-color: rgb(189, 41, 41);
    color: white;
    padding: 30px 15% 30px;
    box-shadow: 0px -1px 3px rgb(189, 41, 41);
}

.findAnInsurance-page .search h2 {
    font-weight: 500;
}

.findAnInsurance-page label {
    font-weight: 300;
    font-size: 15px;
}

::placeholder {
    color: darkgray;
    font-size: 15px;
}

.findAnInsurance-page input[type=text] {
    width: 280px;
    margin: 4px 10px 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    display: block;
}

.findAnInsurance-page .medical-included,
.findAnInsurance-page .dental-included,
.findAnInsurance-page .vision-included {
    display: flex;
    align-items: center;
}

.findAnInsurance-page input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

.findAnInsurance-page .search input[type=submit] {
    background-color: white;
    color: brown;
    font-weight: bold;
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

.findAnInsurance-page .search input[type=submit]:hover {
    background-color: rgb(54, 128, 54);
    color: white;
    cursor: pointer;
}

.findAnInsurance-page .content {
    /* background-color: lightblue; */
    padding: 0px 15% 30px;
}

.findAnInsurance-page .plan {
    /* background-color: pink; */
    max-width: 600px;
    margin-top: 20px;
}

.findAnInsurance-page .plan h2,
.findAnInsurance-page .plan h3,
.findAnInsurance-page .plan p {
    margin: 0;
}

.findAnInsurance-page .plan h2 {
    font-size: 22px;
}

.findAnInsurance-page .plan h3 {
    margin-bottom: 5px;
    font-weight: 500;
}

.findAnInsurance-page .plan-details-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.findAnInsurance-page .plan-details {
    width: 280px;
    display: flex;
    justify-content: space-between;
}

.findAnInsurance-page .plan span {
    display: flex;
    align-items: center;
}

.findAnInsurance-page .green {
    color: green;
}

.findAnInsurance-page .red {
    color: red;
}

.findAnInsurance-page .plan span p {
    margin-left: 5px;
}

.findAnInsurance-page .plan button {
    background-color: brown;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-weight: normal;
}

.findAnInsurance-page .plan button:hover {
    background-color: rgb(104, 0, 0);
    cursor: pointer;
}

.findAnInsurance-page hr {
    border: 0.5px solid #ccc;
}