.navbar {
    background-color: #67a471;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.navbar li,
.auth-options {
    display: flex;
    align-items: center;
}

.navbar a,
.navbar button {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
}

.navbar button {
    background-color: #67a471;
   
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.navbar button:hover {
    background-color: #4f8257;
    
}


.auth-options li:last-child {
    margin-right: 0;
}

.alert {
    color: #721c24;
    background-color: #f8d7da;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #f5c6cb;
    display: none;
    
}
.profile-link {
    border: none;
    display: flex;
    align-items: center; 
    color: white;
    text-decoration: none;
    margin-right: 20px; 
    padding: 8px 16px;
    
    
}
.userprofile-link:hover {
    background-color: #4f8257;
    border-radius: 5px;

}

.logout-icon {
    margin-right: 1px;
    width: 24px; 
    height: 24px; 
}
.profile-icon {
    margin-right: 1px; 
    width: 24px; 
    height: 24px; 
    fill:currentColor;
}